<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyPets"
        tools:targetApi="31">
        <activity
            android:name=".perfilview.AgregarMascotaActivity"
            android:exported="false" />
        <activity
            android:name=".perfilview.VerCitasActivity"
            android:exported="false" />
        <activity
            android:name=".perfilview.HistorialNotificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".perfilview.MisComprasActivity"
            android:exported="false" />
        <activity
            android:name=".perfilview.DatosPersonalesActivity"
            android:exported="false" />

        <service
            android:name=".NotificationWorker"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".view_cliente.NotificacionesDialogFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".submenu_admin.EditarPersonal"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view_cliente.Ubication"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view_cliente.AgregarMascotaDialogFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".submenu_admin.Submenu_AdminPersonal"
            android:exported="false" />
        <activity
            android:name=".view_admin.ManageAdmin"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view_cliente.PerfilCliente"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view_cliente.CitasCliente"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view_cliente.ProductoCliente"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view_cliente.MenuCliente"
            android:exported="false" />
        <activity
            android:name=".view_admin.AppointmentsAdmin"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view_admin.ClientsAdmin"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view_admin.DashboardAdmin"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view_admin.MenuAdmin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".vista_previa.InicioActivity"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>